<h1 style="text-align:center">Welcome!</h1>
<h3 style="text-align:center">To Sam's Inventory Warehouse!</h3>
<hr>

<section style="text-align:center">
  <%= link_to "Items Index", items_path %><br>
  <%= link_to "Warehouses Index", warehouses_path %>
</section>
