<h1>Warehouses</h1>
<% @warehouses.each do |warehouse| %>
  <p><%=link_to warehouse.name, warehouse_path(warehouse), method: :get %></p>
<% end %>

<%= button_to "Create Warehouse", new_warehouse_path, method: :get %>
